@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background: url('file:///C:/Users/maggy/Downloads/yo/yo/fondo4.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #ffdd57;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 3px 3px 0px black;
}

p, span {
    font-size: 16px;
    text-shadow: 2px 2px 0px black;
}

#game {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.player {
   background: blue;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    width: 150px;
    border: 4px solid;
    font-size: 13px;
    font-weight: 500;
}

#player1 {
    border-color: #1e90ff;
    background-color: #add8e6;
}

#player2 {
    border-color: #32cd32;
    background-color: #98fb98;
}

/* Estilo para el historial de rondas */
#roundHistory {
    background: x#1075cd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
    width: 200px;
    font-size: 16px;
    border: 4px solid #ff6347;
    text-align: left;
}

#roundHistory h2 {
    color: #ff6347;
    font-size: 22px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px black;
}

#history1, #history2 {
    margin-bottom: 10px;
}

#history1Text, #history2Text {
    color: #333;
    font-size: 14px;
}

.dice {
    font-size: 50px;
    margin: 20px 0;
    transition: transform 0.5s;
    display: inline-block;
}

.rolling {
    animation: rollDice 0.6s ease-in-out;
}

@keyframes rollDice {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

button {
    font-size: 18px;
    padding: 15px 30px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    text-shadow: -1px 10px 10px #090000;
}

#rollDice {
    background-color: #ffa500;
    color: white;
}

#restart {
    background-color: #dc143c;
    color: white;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#winner {
    color: #ffdd57;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 3px 3px 0px black;
}
